html{ min-height: 100%; min-width: 915px; position: relative;}
body{margin: 0 0 70px;}

#content { 
	margin: 0 auto;
	min-width: 915px;
	font-family: ManifoldCF-Regular;
font-size: 15.81px;
color: #FFFFFF;
}
html{
	background-color: #2c2c2c;
}
header{
/* Mask: */
background-image: url(../img/HeroImage.png) ;

/* HeroImage: */

height: 175px;
width: 100%;

}

header div#gradient{
	/* Mask: */
background-image: linear-gradient(-180deg, #E76A38 0%, #C0282D 100%);
/* HeroImage: */
opacity: 0.5;
height: 175px;
width: 100%;	
}

#logo{
	position: absolute;
	top: 20px;
	left:166px;
}

#topNav{
position: absolute;
top:0;
right:70px;
/* Top Nav: */
font-family: ManifoldCF-Regular;
font-size: 15.81px;
color: #FFFFFF;
line-height: 23px;
width: 334px;
height: 65px;
background-color: #e6632f;
border-radius: 0 0 10px 10px;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

footer{
background-color: #1d1d1d;
height: 70px;
vertical-align: middle;
width: 100%;
clear: both;
 position: absolute;
 z-index: 10;
 margin: 0;
 left:0;
 bottom: 0;
}

footer #leftNav {
	margin-left:166px;
	padding: 0;
}



footer #leftNav li{
	float:left;
	/* Copyright: */
font-family: ManifoldCF-Regular;
font-size: 9px;
color: #FFFFFF;
line-height: 23.79px;
margin-left:20px;
margin-right: 10px;
padding-left: 10px;
margin-top: 25px;
padding: 0;

}

footer #leftNav li a{
	font-size: 14px;
	color:#fff;
	text-decoration: none;
}

footer #leftNav li:first-child{
	list-style: none;
	margin-left: 0px;
}

footer #socialNav{
	margin: 0;
	float: right;
	margin-right: 70px;
	padding: 0;
}

footer #socialNav li{
	float:left;
	margin-left: 20px;
	margin-top: 15px;
	padding: 0;
}

h2#forgotPassword{
	/* FORGOT YOUR PASSWORD: */
 background: url(../img/FORGOT-YOUR-PASSWORD.png) no-repeat center center;
 text-indent: -9999px;
height: 37px;
margin-top: 40px;
}