@font-face {
  font-family: 'ManifoldCF-Regular';
  src: url('../webfonts/Manifold CF/ManifoldCF-Regular-webfont.eot');
  src: url('../webfonts/Manifold CF/ManifoldCF-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('../webfonts/Manifold CF/ManifoldCF-Regular-webfont.woff') format('woff'), url('../webfonts/Manifold CF/ManifoldCF-Regular-webfont.ttf') format('truetype'), url('../webfonts/Manifold CF/ManifoldCF-Regular-webfont.svg#webfont') format('svg');
}
@font-face {
  font-family: 'ManifoldCF-Light';
  src: url('../webfonts/Manifold CF/ManifoldCF-Light-webfont.eot');
  src: url('../webfonts/Manifold CF/ManifoldCF-Light-webfont.eot?#iefix') format('embedded-opentype'), url('../webfonts/Manifold CF/ManifoldCF-Light-webfont.woff') format('woff'), url('../webfonts/Manifold CF/ManifoldCF-Light-webfont.ttf') format('truetype'), url('../webfonts/Manifold CF/ManifoldCF-Light-webfont.svg#webfont') format('svg');
}
@font-face {
  font-family: 'ManifoldCF-ExtraBold';
  src: url('../webfonts/Manifold CF/ManifoldCF-ExtraBold-webfont.eot');
  src: url('../webfonts/Manifold CF/ManifoldCF-ExtraBoldwebfont.eot?#iefix') format('embedded-opentype'), url('../webfonts/Manifold CF/ManifoldCF-ExtraBold-webfont.woff') format('woff'), url('../webfonts/Manifold CF/ManifoldCF-ExtraBold-webfont.ttf') format('truetype'), url('../webfonts/Manifold CF/ManifoldCF-ExtraBold-webfont.svg#webfont') format('svg');
}
@font-face {
  font-family: 'ManifoldCF-DemiBold';
  src: url('../webfonts/Manifold CF/ManifoldCF-DemiBold-webfont.eot');
  src: url('../webfonts/Manifold CF/ManifoldCF-DemiBoldwebfont.eot?#iefix') format('embedded-opentype'), url('../webfonts/Manifold CF/ManifoldCF-DemiBold-webfont.woff') format('woff'), url('../webfonts/Manifold CF/ManifoldCF-DemiBold-webfont.ttf') format('truetype'), url('../webfonts/Manifold CF/ManifoldCF-DemiBold-webfont.svg#webfont') format('svg');
}
html {
  min-height: 100%;
  min-width: 1146px;
  position: relative;
}
body {
  margin: 0 0 70px;
}
#content {
  margin: 0 auto;
  min-width: 1146px;
  font-family: ManifoldCF-Regular;
  font-size: 15.81px;
  color: #FFFFFF;
}
html {
  background-color: #2c2c2c;
}
header {
  /* Mask: */
  background-image: url(../img/HeroImage.png);
  /* HeroImage: */
  height: 175px;
  width: 100%;
}
header div#gradient {
  /* Mask: */
  background-image: linear-gradient(-180deg, #E76A38 0%, #C0282D 100%);
  /* HeroImage: */
  opacity: 0.5;
  height: 175px;
  width: 100%;
}
header #logo {
  position: absolute;
  top: 20px;
  left: 166px;
}
header #topNav {
  position: absolute;
  top: 0;
  right: 70px;
  /* Top Nav: */
  font-family: ManifoldCF-Regular;
  font-size: 15.81px;
  color: #FFFFFF;
  line-height: 23px;
  width: 334px;
  height: 65px;
  background-color: #e6632f;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}
header #topNav ul {
  font-size: 14px;
  color: #fff;
  text-decoration: none;
  margin-top: 23px;
}
header #topNav ul li {
  font-size: 9px;
  float: left;
  /* Copyright: */
  font-family: ManifoldCF-Regular;
  margin-left: 20px;
  margin-right: 10px;
  padding-left: 5px;
}
header #topNav ul li a {
  font-size: 14px;
  color: #fff;
  text-decoration: none;
}
header #topNav ul li:first-child {
  list-style: none;
  margin-left: 0px;
}
footer {
  background-color: #1d1d1d;
  height: 70px;
  width: 100%;
  clear: both;
  position: absolute;
  z-index: 10;
  margin: 0;
  left: 0;
  bottom: 0;
  vertical-align: middle;
}
footer ul,
footer ul li {
  margin-top: 0;
}
footer #leftNav {
  margin-left: 166px;
  padding: 0;
}
footer #leftNav li {
  float: left;
  /* Copyright: */
  font-family: ManifoldCF-Regular;
  font-size: 9px;
  color: #FFFFFF;
  line-height: 23.79px;
  margin-left: 20px;
  margin-right: 10px;
  padding-left: 10px;
  margin-top: 10px;
  padding: 0;
}
footer #leftNav li a {
  font-size: 14px;
  color: #fff;
  text-decoration: none;
}
footer #leftNav li:first-child {
  list-style: none;
  margin-left: 0px;
}
footer #socialNav {
  margin: 0;
  float: right;
  margin-right: 70px;
  padding: 0;
}
footer #socialNav li {
  float: left;
  margin-left: 20px;
  margin-top: 2px;
  padding: 0;
}
h2#forgotPassword {
  /* FORGOT YOUR PASSWORD: */
  background: url(../img/FORGOT-YOUR-PASSWORD.png) no-repeat center center;
  text-indent: -9999px;
  height: 37px;
  margin-top: 40px;
}
h2#forgotPasswordReset {
  /* FORGOT YOUR PASSWORD: */
  background: url(../img/password-reset.png) no-repeat center center;
  text-indent: -9999px;
  height: 37px;
  margin-top: 40px;
}
/* PLAYER TEMPLATE */
.player-template #dateLocation {
  width: 942px;
  margin: 0 auto;
}
.player-template h2#pageTitle {
  background: url(../img/my-last-batting-session.png) no-repeat center center;
  text-indent: -9999px;
  height: 50px;
  margin-top: 40px;
}
.player-template hr:first-child {
  float: left;
  margin-top: 13px;
  width: 200px;
}
.player-template hr:last-child {
  float: right;
  margin-top: 13px;
  width: 200px;
}
.player-template h3 {
  /* HR Left: */
  /* Date/Location: */
  font-family: ManifoldCF-Regular;
  font-size: 20px;
  color: #FFFFFF;
  letter-spacing: 2px;
  line-height: 24px;
  /* HR Right: */
  text-align: center;
  width: 542px;
  margin: 0;
  padding: 0;
  float: left;
}
.player-template .tab {
  background: url(../img/player-tab.png) no-repeat;
  width: 1142px;
  height: 608px;
  margin: 0 auto;
}
.player-template .callout {
  /* Bar Background Copy: */
  background-image: linear-gradient(-180deg, #E76A38 0%, #C0282D 100%);
  height: 345px;
}
.player-template .callout h4 {
  /* YOU’RE MISSING OUT O: */
  font-family: ManifoldCF-Bold;
  font-size: 26px;
  color: #2C2C2C;
  line-height: 36px;
  width: 753px;
  margin: 0 auto;
  text-align: center;
  padding-top: 40px;
}
.player-template .callout p {
  width: 753px;
  margin: 0 auto;
  text-align: center;
  /* Text: */
  font-family: ManifoldCF-Regular;
  font-size: 20px;
  color: #FFFFFF;
  line-height: 30px;
  margin-top: 20px;
}
.player-template .callout .button {
  /* Frame: */
  border: 3px solid #2C2C2C;
  border-radius: 5px;
  /* JOIN HITTRAX STATSCE: */
  font-family: ManifoldCF-Bold;
  font-size: 21px;
  color: #FFFFFF;
  letter-spacing: 1px;
  width: 354px;
  height: 60px;
  margin: 0 auto;
  text-align: center;
  display: block;
  vertical-align: middle;
  line-height: 60px;
  text-decoration: none;
  margin-top: 20px;
}
.player-template .callout .button:hover {
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
  background: rgba(44, 44, 44, 0.3);
}
/* END PLAYER TEMPLATE */
/* PLAYER SUBSCRIBED TEMPLATE */
.player-subscribed-template #dateLocation {
  width: 942px;
  margin: 0 auto;
}
.player-subscribed-template h2#pageTitle {
  background: url(../img/my-last-batting-session.png) no-repeat center center;
  text-indent: -9999px;
  height: 50px;
  margin-top: 40px;
}
.player-subscribed-template hr:first-child {
  float: left;
  margin-top: 13px;
  width: 200px;
}
.player-subscribed-template hr:last-child {
  float: right;
  margin-top: 13px;
  width: 200px;
}
.player-subscribed-template h3 {
  /* HR Left: */
  /* Date/Location: */
  font-family: ManifoldCF-Regular;
  font-size: 20px;
  color: #FFFFFF;
  letter-spacing: 2px;
  line-height: 24px;
  /* HR Right: */
  text-align: center;
  width: 542px;
  margin: 0;
  padding: 0;
  float: left;
}
.player-subscribed-template .tab {
  background: url(../img/player-tab.png) no-repeat;
  width: 1142px;
  height: 608px;
  margin: 0 auto;
}
.player-subscribed-template .callout-mobile {
  /* Bar Background Copy: */
  background: url(../img/hittrax-bgvideo-blur-color.png);
  background-size: cover;
  height: 600px;
}
.player-subscribed-template .callout-mobile #callout-wrapper {
  width: 1100px;
  margin: 0 auto;
  position: relative;
  height: 100%;
}
.player-subscribed-template .callout-mobile #callout-wrapper img.app-icon {
  margin-top: 120px;
}
.player-subscribed-template .callout-mobile #callout-wrapper h4 {
  text-indent: -9999px;
  background: url(../img/go-mobile.png) no-repeat;
  width: 267px;
  height: 41px;
}
.player-subscribed-template .callout-mobile #callout-wrapper p {
  /* Body Copy: */
  font-family: ManifoldCF-Regular;
  font-size: 18px;
  color: #000000;
  line-height: 24px;
  width: 495px;
}
.player-subscribed-template .callout-mobile #callout-wrapper h5 {
  /* SubHead: */
  font-family: ManifoldCF-Regular;
  font-size: 21px;
  color: #000000;
  letter-spacing: 1px;
  line-height: 24px;
}
.player-subscribed-template .callout-mobile #callout-wrapper ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.player-subscribed-template .callout-mobile #callout-wrapper ul li {
  float: left;
  margin-right: 20px;
  width: 142px;
  height: 48px;
}
.player-subscribed-template .callout-mobile #callout-wrapper ul li a {
  display: block;
  height: 100%;
}
.player-subscribed-template .callout-mobile #callout-wrapper ul li a:hover {
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
  background: rgba(44, 44, 44, 0.3);
}
.player-subscribed-template .callout-mobile #callout-wrapper ul li:first-child {
  background: url(../img/apple-app-store.png) no-repeat;
}
.player-subscribed-template .callout-mobile #callout-wrapper ul li:last-child {
  background: url(../img/google-play.png) no-repeat;
}
.player-subscribed-template .callout-mobile #callout-wrapper img.phone {
  position: absolute;
  bottom: 0;
  right: 50px;
}
.player-subscribed-template .callout-desktop {
  background-size: cover;
  height: 600px;
}
.player-subscribed-template .callout-desktop #callout-wrapper {
  width: 1100px;
  margin: 0 auto;
  position: relative;
  height: 100%;
}
.player-subscribed-template .callout-desktop #callout-wrapper aside {
  width: 343px;
  float: right;
}
.player-subscribed-template .callout-desktop #callout-wrapper aside img.app-icon {
  margin-top: 100px;
}
.player-subscribed-template .callout-desktop #callout-wrapper aside h4 {
  text-indent: -9999px;
  background: url(../img/desktop-app-title.png) no-repeat;
  width: 323px;
  height: 41px;
}
.player-subscribed-template .callout-desktop #callout-wrapper aside p {
  /* Body Copy: */
  font-family: ManifoldCF-Regular;
  font-size: 18px;
  color: #FFFFFF;
  line-height: 24px;
  width: 343px;
}
.player-subscribed-template .callout-desktop #callout-wrapper aside h5 {
  /* SubHead: */
  font-family: ManifoldCF-Regular;
  font-size: 21px;
  color: #FFFFFF;
  letter-spacing: 1px;
  line-height: 24px;
}
.player-subscribed-template .callout-desktop #callout-wrapper aside ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.player-subscribed-template .callout-desktop #callout-wrapper aside ul li {
  float: left;
  margin-right: 20px;
  width: 142px;
  height: 48px;
  background-image: linear-gradient(-180deg, #E76A38 0%, #C0282D 100%);
  padding: 2px;
}
.player-subscribed-template .callout-desktop #callout-wrapper aside ul li a {
  display: block;
  height: 100%;
  background-color: #2c2c2c;
  text-decoration: none;
  /* WINDOWS: */
  font-family: ManifoldCF-ExtraBold;
  font-size: 24px;
  color: #FFFFFF;
  line-height: 48px;
  vertical-align: middle;
  text-align: center;
}
.player-subscribed-template .callout-desktop #callout-wrapper img.desktop {
  position: absolute;
  bottom: 100px;
  left: 0px;
}
/* END PLAYER SUBSCRIBED TEMPLATE */
/* OWNER TEMPLATE */
.owner-template h2#pageTitle {
  background: url(../img/facility-admin.png) no-repeat center center;
  text-indent: -9999px;
  height: 50px;
  margin-top: 40px;
}
.owner-template .tab {
  background: url(../img/owner-tab.png) #2c2c2c no-repeat;
  width: 1142px;
  height: 407px;
  margin: 0 auto;
  position: relative;
}
.owner-template .tab img.editInfo {
  position: absolute;
  top: 15px;
  left: 15px;
}
.owner-template .tab h3.joinHitrax {
  /* Join HitTrax...: */
  width: 526px;
  height: 30px;
  background: url(../img/join-hitrax.png) no-repeat;
  text-indent: -9999px;
  position: absolute;
  top: 10px;
  right: 20px;
}
.owner-template .tab section.adminTools {
  position: absolute;
  top: 80px;
  left: 20px;
}
.owner-template .tab section.adminTools h3 {
  text-indent: -9999px;
  background: url(../img/FACILITY-ADMIN-TOOLS.png) no-repeat;
  width: 255px;
  height: 19px;
}
.owner-template .tab section.adminTools ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.owner-template .tab section.adminTools ul li {
  width: 340px;
  height: 60px;
  /* Frame: */
  border: 3px solid #FFFFFF;
  border-radius: 5px;
  /* FACILITY FORUM: */
  font-family: ManifoldCF-Bold;
  font-size: 21px;
  color: #FFFFFF;
  letter-spacing: 1px;
  line-height: 60px;
  float: left;
  margin-right: 20px;
  vertical-align: middle;
  text-align: center;
}
.owner-template .tab section.adminTools ul li a {
  color: #fff;
  text-decoration: none;
  display: block;
}
.owner-template .tab section.resources {
  position: absolute;
  top: 220px;
  left: 20px;
}
.owner-template .tab section.resources h3 {
  text-indent: -9999px;
  background: url(../img/FACILITY-RESOURCES.png) no-repeat;
  width: 234px;
  height: 19px;
}
.owner-template .tab section.resources ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.owner-template .tab section.resources ul li {
  width: 340px;
  height: 60px;
  /* Frame: */
  border: 3px solid #FFFFFF;
  border-radius: 5px;
  /* FACILITY FORUM: */
  font-family: ManifoldCF-Bold;
  font-size: 21px;
  color: #FFFFFF;
  letter-spacing: 1px;
  line-height: 60px;
  float: left;
  margin-right: 20px;
  vertical-align: middle;
  text-align: center;
}
.owner-template .tab section.resources ul li a {
  color: #fff;
  text-decoration: none;
  display: block;
}
.owner-template .tab h4.facility {
  /* Name: */
  font-family: ManifoldCF-DemiBold;
  font-size: 24px;
  color: #FFFFFF;
  line-height: 20px;
  position: absolute;
  top: 20px;
  left: 75px;
  margin: 0;
}
.owner-template .tab h5.location {
  /* Info: */
  font-family: ManifoldCF-DemiBold;
  font-size: 16px;
  color: #FFFFFF;
  line-height: 23px;
  position: absolute;
  top: 43px;
  left: 75px;
  margin: 0;
}
.owner-template .callout {
  /* Bar Background Copy: */
  background-image: linear-gradient(-180deg, #E76A38 0%, #C0282D 100%);
  height: 550px;
}
.owner-template .callout div {
  width: 1142px;
  margin: 0 auto;
  position: relative;
  height: 100%;
}
.owner-template .callout div h4 {
  /* YOU’RE MISSING OUT O: */
  /* YOU’RE MISSING OUT O: */
  margin-top: 0;
  font-family: ManifoldCF-Bold;
  font-size: 26px;
  color: #2C2C2C;
  line-height: 36px;
  width: 376px;
  padding-top: 70px;
}
.owner-template .callout div p {
  /* Text: */
  font-family: ManifoldCF-Regular;
  font-size: 20px;
  color: #FFFFFF;
  line-height: 30px;
  width: 376px;
}
.owner-template .callout div ul {
  padding: 0;
  margin: 0;
  margin-left: 20px;
  font-family: ManifoldCF-Regular;
  font-size: 20px;
  color: #FFFFFF;
  line-height: 30px;
  width: 376px;
}
.owner-template .callout div .button {
  /* Frame: */
  border: 3px solid #2C2C2C;
  border-radius: 5px;
  /* JOIN HITTRAX STATSCE: */
  font-family: ManifoldCF-Bold;
  font-size: 21px;
  color: #FFFFFF;
  letter-spacing: 1px;
  width: 180px;
  height: 60px;
  text-align: center;
  display: block;
  vertical-align: middle;
  line-height: 60px;
  text-decoration: none;
  margin-top: 20px;
}
.owner-template .callout div .button:hover {
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
  background: rgba(44, 44, 44, 0.3);
}
.owner-template .callout div img {
  position: absolute;
  right: 0;
  bottom: 55px;
}
.owner-template .facility-leaderboard h2#pageTitle {
  background: url(../img/facility-leaderboard.png) no-repeat center center;
  text-indent: -9999px;
  height: 37px;
  margin-top: 40px;
}
.owner-template .facility-leaderboard .tab {
  min-height: 1350px;
}
.owner-template .facility-leaderboard .tab h4.topPast {
  background: url(../img/TOP-25-PAST.png) no-repeat;
  width: 372px;
  height: 28px;
  text-indent: -9999px;
  position: absolute;
  top: 20px;
  margin-top: 0;
  left: 20px;
}
.owner-template .facility-leaderboard .tab ul {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 20px;
  top: 85px;
}
.owner-template .facility-leaderboard .tab ul li {
  width: 260px;
  float: left;
  margin-right: 20px;
}
.owner-template .facility-leaderboard .tab ul li h6 {
  margin: 0;
  /* Label: */
  font-family: ManifoldCF-Bold;
  font-size: 16px;
  color: #E76A38;
  letter-spacing: 1.04px;
  line-height: 28px;
}
.owner-template .facility-leaderboard .tab ul li select {
  width: 260px;
  /* Frame: */
  background: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  height: 40px;
  border: 0;
}
.owner-template .facility-leaderboard .tab div.tableBG {
  position: absolute;
  top: 160px;
  background-color: #000;
  width: 1142px;
}
.owner-template .facility-leaderboard .tab div.tableBG table {
  width: 1093px;
  margin: 0 auto;
}
.owner-template .facility-leaderboard .tab div.tableBG table thead th {
  /* PLAYER: */
  font-family: ManifoldCF-ExtraBold;
  font-size: 20px;
  color: #4A4A4A;
  line-height: 40px;
  text-align: left;
}
.owner-template .facility-leaderboard .tab div.tableBG table tbody tr:nth-child(odd) {
  background: rgba(255, 255, 255, 0.2);
}
.owner-template .facility-leaderboard .tab div.tableBG table tbody tr:nth-child(odd) td {
  font-family: ManifoldCF-Regular;
  font-size: 20px;
  color: #fff;
  padding: 5px 10px;
}
.owner-template .facility-leaderboard .tab div.tableBG table tbody tr:nth-child(odd) td:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.owner-template .facility-leaderboard .tab div.tableBG table tbody tr:nth-child(odd) td:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.owner-template .facility-leaderboard .tab div.tableBG table tbody tr:nth-child(even) td {
  font-family: ManifoldCF-Regular;
  font-size: 20px;
  color: #fff;
  padding: 5px 10px;
}
/* END OWNER TEMPLATE */
/* OWNER SUBSCRIBED TEMPLATE */
.owner-subscribed-template #dateLocation {
  width: 942px;
  margin: 0 auto;
}
.owner-subscribed-template h2#pageTitle {
  background: url(../img/my-last-batting-session.png) no-repeat center center;
  text-indent: -9999px;
  height: 50px;
  margin-top: 40px;
}
.owner-subscribed-template hr:first-child {
  float: left;
  margin-top: 13px;
  width: 200px;
}
.owner-subscribed-template hr:last-child {
  float: right;
  margin-top: 13px;
  width: 200px;
}
.owner-subscribed-template h3 {
  /* HR Left: */
  /* Date/Location: */
  font-family: ManifoldCF-Regular;
  font-size: 20px;
  color: #FFFFFF;
  letter-spacing: 2px;
  line-height: 24px;
  /* HR Right: */
  text-align: center;
  width: 542px;
  margin: 0;
  padding: 0;
  float: left;
}
.owner-subscribed-template .tab {
  background: url(../img/player-tab.png) no-repeat;
  width: 1142px;
  height: 608px;
  margin: 0 auto;
}
.owner-subscribed-template .callout-mobile {
  /* Bar Background Copy: */
  background: url(../img/hittrax-bgvideo-blur-color.png);
  background-size: cover;
  height: 600px;
}
.owner-subscribed-template .callout-mobile #callout-wrapper {
  width: 1100px;
  margin: 0 auto;
  position: relative;
  height: 100%;
}
.owner-subscribed-template .callout-mobile #callout-wrapper img.app-icon {
  margin-top: 120px;
}
.owner-subscribed-template .callout-mobile #callout-wrapper h4 {
  text-indent: -9999px;
  background: url(../img/go-mobile.png) no-repeat;
  width: 267px;
  height: 41px;
}
.owner-subscribed-template .callout-mobile #callout-wrapper p {
  /* Body Copy: */
  font-family: ManifoldCF-Regular;
  font-size: 18px;
  color: #000000;
  line-height: 24px;
  width: 495px;
}
.owner-subscribed-template .callout-mobile #callout-wrapper h5 {
  /* SubHead: */
  font-family: ManifoldCF-Regular;
  font-size: 21px;
  color: #000000;
  letter-spacing: 1px;
  line-height: 24px;
}
.owner-subscribed-template .callout-mobile #callout-wrapper ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.owner-subscribed-template .callout-mobile #callout-wrapper ul li {
  float: left;
  margin-right: 20px;
  width: 142px;
  height: 48px;
}
.owner-subscribed-template .callout-mobile #callout-wrapper ul li a {
  display: block;
  height: 100%;
}
.owner-subscribed-template .callout-mobile #callout-wrapper ul li a:hover {
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
  background: rgba(44, 44, 44, 0.3);
}
.owner-subscribed-template .callout-mobile #callout-wrapper ul li:first-child {
  background: url(../img/apple-app-store.png) no-repeat;
}
.owner-subscribed-template .callout-mobile #callout-wrapper ul li:last-child {
  background: url(../img/google-play.png) no-repeat;
}
.owner-subscribed-template .callout-mobile #callout-wrapper img.phone {
  position: absolute;
  bottom: 0;
  right: 50px;
}
.owner-subscribed-template .callout-desktop {
  background-size: cover;
  height: 600px;
}
.owner-subscribed-template .callout-desktop #callout-wrapper {
  width: 1100px;
  margin: 0 auto;
  position: relative;
  height: 100%;
}
.owner-subscribed-template .callout-desktop #callout-wrapper aside {
  width: 343px;
  float: right;
}
.owner-subscribed-template .callout-desktop #callout-wrapper aside img.app-icon {
  margin-top: 100px;
}
.owner-subscribed-template .callout-desktop #callout-wrapper aside h4 {
  text-indent: -9999px;
  background: url(../img/desktop-app-title.png) no-repeat;
  width: 323px;
  height: 41px;
}
.owner-subscribed-template .callout-desktop #callout-wrapper aside p {
  /* Body Copy: */
  font-family: ManifoldCF-Regular;
  font-size: 18px;
  color: #FFFFFF;
  line-height: 24px;
  width: 343px;
}
.owner-subscribed-template .callout-desktop #callout-wrapper aside h5 {
  /* SubHead: */
  font-family: ManifoldCF-Regular;
  font-size: 21px;
  color: #FFFFFF;
  letter-spacing: 1px;
  line-height: 24px;
}
.owner-subscribed-template .callout-desktop #callout-wrapper aside ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.owner-subscribed-template .callout-desktop #callout-wrapper aside ul li {
  float: left;
  margin-right: 20px;
  width: 142px;
  height: 48px;
  background-image: linear-gradient(-180deg, #E76A38 0%, #C0282D 100%);
  padding: 2px;
}
.owner-subscribed-template .callout-desktop #callout-wrapper aside ul li a {
  display: block;
  height: 100%;
  background-color: #2c2c2c;
  text-decoration: none;
  /* WINDOWS: */
  font-family: ManifoldCF-ExtraBold;
  font-size: 24px;
  color: #FFFFFF;
  line-height: 48px;
  vertical-align: middle;
  text-align: center;
}
.owner-subscribed-template .callout-desktop #callout-wrapper img.desktop {
  position: absolute;
  bottom: 100px;
  left: 0px;
}
/* END OWNER SUBSCRIBED TEMPLATE */
hr {
  color: #fff;
  width: 150px;
  height: 1px;
  background: #fff;
  margin: 40px auto;
}
.passwordText {
  /* Can’t remember your : */
  font-family: ManifoldCF-Light;
  font-size: 18px;
  color: #FFFFFF;
  line-height: 24px;
  width: 555px;
  margin: 0 auto;
  margin-bottom: 30px;
}
.passwordInputBox {
  /* Base Copy: */
  background: rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  width: 361px;
  height: 54px;
  margin: 0 auto;
  vertical-align: middle;
  line-height: 54px;
  margin-bottom: 30px;
}
.passwordInputBox img {
  padding: 0 20px 0 10px;
}
.passwordInputBox input {
  border: 0;
  background: transparent;
  width: 60%;
  color: #fff;
}
.passwordInputBox input::-webkit-input-placeholder {
  color: #fff !important;
}
.passwordInputBox input:-moz-placeholder {
  /* Firefox 18- */
  color: #fff !important;
}
.passwordInputBox input::-moz-placeholder {
  /* Firefox 19+ */
  color: #fff !important;
}
.passwordInputBox input:-ms-input-placeholder {
  color: #fff !important;
}
.buttonBorder {
  background-image: linear-gradient(-180deg, #E76A38 0%, #C0282D 100%);
  width: 166px;
  height: 60px;
  border-radius: 5px;
  padding: 3px;
}
.submitButton {
  border-radius: 3px;
  border: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  background: #2c2c2c;
  font-family: ManifoldCF-Regular;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 2px;
  outline: none;
}
.reset-password-template .buttonBorder {
  width: 265px;
}
.submitButton:hover {
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
  background: rgba(44, 44, 44, 0.5);
}
#foundAccount {
  /* We’ve found your Hit: */
  font-family: ManifoldCF-Light;
  font-size: 18px;
  color: #5DCC6C;
  line-height: 21px;
  width: 362px;
  margin: 0 auto;
}
#foundAccount img {
  margin: 0 auto;
  display: block;
}
#noAccount {
  /* Sorry, we can’t find: */
  font-family: ManifoldCF-Regular;
  font-size: 18px;
  color: #E7273E;
  line-height: 21px;
  width: 362px;
  margin: 0 auto;
}
#noAccount img {
  margin: 0 auto;
  display: block;
}
#resetSuccess {
  /* We’ve found your Hit: */
  font-family: ManifoldCF-Light;
  font-size: 18px;
  color: #fff;
  line-height: 21px;
  width: 362px;
  margin: 0 auto;
}
#resetSuccess img {
  margin: 0 auto;
  display: block;
}
#resetFail {
  /* Sorry, we can’t find: */
  font-family: ManifoldCF-Regular;
  font-size: 18px;
  color: #E7273E;
  line-height: 21px;
  width: 362px;
  margin: 0 auto;
}
#resetFail img {
  margin: 0 auto;
  display: block;
}
.center {
  margin: 0 auto;
}
.hidden {
  display: none;
}
